QDialog {
	background:
		qlineargradient(spread:pad, x1:0, y1:0, x2:1, y2:1, stop:0 rgba(182, 197, 190, 255), stop:1 rgba(217, 217, 217, 255) );
	}

QToolButton {
	border-radius:
		5px;
	background-color:
		rgba(209, 223, 217, 255);
	}

